.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }
  .homeContainer h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  