* {
  background-image: "";
}

.dislike-button,
.like-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  width: 10vh;
}

.like-button {
  color: hotpink;
}

.favorite-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  width: 10vh;
}

.favorite-button.active {
  color: yellow;
}

.tesbeau {
  width: 10vh;
}

.tesmoche {
  width: 10vh;
}
