.dislike-button,
.like-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  width: 10vh;
}

.like-button {
  color: hotpink;
}

.favorite-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  width: 10vh;
}

.favorite-button.active {
  color: yellow;
}

.tesbeau {
  width: 10vh;
}

.tesmoche {
  width: 10vh;
}

.allbuttons {
  position: relative;
  top: -14rem;
  left: 1rem;
  background: transparent;
}

.screencharacters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/src/assets/backgroundcharacters.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-container.swipe-left {
  transform: translateX(-100%);
  transition: transform 0.8s ease;
}

.card-container.swipe-right {
  transform: translateX(100%);
  transition: transform 0.8s ease;
}

.card-container.transition {
  transition: transform 0.8s;
}