.card-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.card {
  width: 20vw;
  height: 50vh;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  border-radius: 8px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background-color: #252222;
}

.front {
  background-color: #252222;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.back {
  background-color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252222;
  box-sizing: border-box;
}

.card-container .front {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #252222;
}

.card-container .front h2,
.card-container .front p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-container .front h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.card-container .front p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-container .back h3 {
  margin-top: 48px;
  font-size: 18px;
  color: white;
  width: 100%;
  height: 50px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
 margin-left: 48px;
 font-weight: lighter;
}

.card-container .back p {
  font-size: 18px;
  margin: 2px;
  color: white;
  width: 100%;
  height: 50px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 48px;
  word-wrap: break-word; 
}

.imageContainer {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card-container .name,
.card-container .homeworld {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px 10px;
  font-weight: bold;
}

.card-container .name {
  font-size: 16px;
  font-family: sans-serif;
  display: block;
  bottom: 50px;
}

.nameback {
  font-size: 18px;
  margin-bottom: 0px;
  color: white;
  width: 100%;
  height: 70px;
  text-align: left;
  margin-left: 48px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -20px;
  
}

.homeworldback {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 4px;
  text-align: left;
  margin-left: 0px;
  color: white;
  width: calc(100% - 48px);
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: 1px solid white;
}


.card-container .back .cyber {
  margin-bottom : 15px;
  overflow-wrap: break-word;
}





.card-container .back .hobby {

  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 4px;
  text-align: left;
  margin-left: 0px;
  color: white;
  width: calc(100% - 48px); 
  height: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-top: 1px solid white;

}