.dislike-button,
.like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.favorite-button {
  border: none;
  background-color: transparent;

  cursor: pointer;
  color: #fff;
}

.favorite-button.active {
  color: yellow;
}

.tesbeau {
  width: 7vh;
}

.tesmoche {
  width: 7vh;
}

.allbuttons {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screencharacters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/src/assets/backgroundcharacters.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-container.swipe-left {
  transform: translateX(-100%);
  transition: transform 0.8s ease;
}

.card-container.swipe-right {
  transform: translateX(100%);
  transition: transform 0.8s ease;
}

.card-container.transition {
  transition: transform 0.8s;
}
