.card-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  border-radius: 8px;
 
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background-color: #252222;
}

.front {
  background-color: #252222;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;

}

.back {
  background-color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container .front {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #252222;
}

.card-container .front h2,
.card-container .front p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-container .front h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.card-container .front p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-container .back h3 {
  font-size: 12px;
margin: 0.2px;
background-color: #252222;
color: white;
width: 100%;
height: 50px;
padding: 20px;
text-align: left;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container .back p {
  font-size: 18px;
  margin: 2px;
  background-color: #252222;
  color: white;
  width: 100%;
  height: 50px;
  padding: 20px;
text-align: left;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-bottom: -20px;
margin-top: -5px;}


.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-container .name,
.card-container .homeworld {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px 10px;
  font-weight: bold;


}

.card-container .name {
  font-size: 16px;
  font-family: sans-serif;
  display: block;
  bottom: 50px;
}

.nameback {
  font-size: 18px;
  margin-bottom: 0px;
  background-color: #252222;
  color: white;
  width: 100%;
  height: 70px;
  padding: 20px;
text-align: left;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: -20px;
}


.homeworldback {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 2px;
  background-color: #252222;
  color: white;
  width: 100%;
  height: 50px;
  padding: 20px;
text-align: left;
align-items: top;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;};








