.auth-page {
  background-image: url(/src/assets/Images/backgroundLog2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
}

.logo-container {
  position: relative;
  width: 100%;
}

.logo-container img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

form {
  display: flex;
  flex-direction: column;
  width: 27%;
  position: absolute;
  bottom: 15em;
  right: 19em;
}

.inputContainer {
  margin-bottom: 0.6em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.inputContainerButton {
  margin-bottom: 0.6em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.inputuser {
  border-radius: 2em;
  padding: 1.2em;
  border: none;
  background-color: rgb(0 0 0 / 20%);
  opacity: 121%;
  width: 74%;
  text-align: center;
}

.submitButton {
  border-radius: 2em;
  padding: 1.2em;
  border: none;
  background-color: #d9d9d9;
  opacity: 121%;
  width: 82%;
  color: #000;
  font-weight: 900;
  cursor: pointer;
}

/* .submitButton:hover {
  background-color: #000;
  color: #fff;
} */

.inputContainerButton svg {
  display: none;
}

.inputuser:focus {
  outline: none;
}

.inputuser::placeholder {
  color: black;
  font-weight: 900;
}

.forgetPasswordContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}
